.white-t {
  color: var(--white);
}
.black-t {
  color: var(--black);
}
.green1-t {
  color: var(--green1);
}
.gray-t {
  color: var(--gray);
}
.gray-t-2 {
  color: var(--gray2);
}

.white-b {
  background-color: var(--white);
}
.black-b {
  background-color: var(--black);
}
.green1-b {
  background-color: var(--green1);
}
.gray-b {
  background-color: var(--gray);
}

.label-1 {
  font-family: outfit-500;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
}

.title-1 {
  font-size: 2.5rem;
  font-family: outfit-700;
}

.container-c {
  width: 80%;
  margin: 0 auto;
}

.mt-6 {
  margin-top: 6rem;
}
