.white-t {
    color: var(--white);
}
.black-t {
    color: var(--black);
}
.green1-t {
    color: var(--green1);
}
.gray-t {
    color: var(--gray);
}

.white-b {
    background-color: var(--white);
}
.black-b {
    background-color: var(--black);
}
.green1-b {
    background-color: var(--green1);
}
.gray-b {
    background-color: var(--gray);
}