@media only screen and (max-width: 1199px) {
  .contact-me-btn-container {
    background-color: var(--white);
    width: fit-content;
  }
  .contact-me-btn-container:hover .contact-me-btn {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .contact-me-btn {
    color: var(--black);
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }

  .header-top-bar {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--black);
    height: 0;
    min-height: 0;
    visibility: hidden;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
  }

  .header-top-bar.show-menu {
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    min-height: 17rem;
    visibility: visible;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem !important;
  }

  .navbar-link {
    color: var(--white);
  }

  .navbar-link.active::before {
    content: none;
  }
  .navbar-link.active {
    color: var(--green1) !important;
  }

  .banner-title {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 991px) {
  .scroll-y {
    overflow-y: scroll;
    height: calc(100vh - 90px);
  }
}
